<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>------------------------ Registration page ---------------------------</h1>
<form action="/register" method="post">

    <label>Enter Name</label>
    <input name="name">
    <br>------------------------------------<br>
    <label>Email address</label>
    <input type="email" name="username">
   
    <label>Password</label>
    <input type="password" name="password">
  
  <button type="submit">Submit</button>
</form>
</body>
</html>